@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Lato:wght@300&family=Montserrat:wght@500&family=Poppins&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 80px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    
}

.logo{
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    position: relative;
    z-index: 2222;
    transition: 0.5s ease;
}
.logo:hover{
    color: #31b0d5;
}

.logo::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    left: 50%;
    top: 0;
    /* background-color: transparent; */
    transition: transform 0.5s ease, width 0.5s ease;
    transform: scaleX(0);
    z-index: 33;
    transform-origin: center; /* Adjusted transform-origin */
}

.logo:hover::before {
    background-color: #31b0d5;
    transform: scaleX(1);
    width: 100%;
    height: 3px;
    transform-origin: center; /* Adjusted transform-origin */
    left: 0%;
}

.navbar a{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 50px;
    
}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
}

.bg-slide, .bg-slide .circle
,.bg-slide .circle img, .circle-darktransp{
    position: absolute;
    width: 100%;
    height: 100%;
}
.bg-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-slide::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 33;
    background-color:rgba(219, 215, 215, 0.1) ;
}

    
.bg-slide.active  .circle{
    z-index: 10;
}
.bg-slide.active  .circle.small{
    z-index: 12;
}
.bg-slide .circle{
    pointer-events: none;
    user-select: none;
    overflow: hidden;
} 

.bg-slide .circle.large,
.circle-darktransp{
    clip-path: circle(50% at 50% 50%);
}

.bg-slide .circle.small{
    clip-path: circle(30% at 50% 50%);
   
    
}
.bg-slide .circle img{
    object-fit: cover;
    transform: rotate(0) scale(4.2);
    transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1), 
    opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1);
   
}
.bg-slide.active .circle img{
    opacity: 1;
    transform: rotate(360deg) scale(2.2);
   
}
.bg-slide.after-active .circle img{
    opacity: 0;
    transform: rotate(720deg) scale(4.2);
   
}
.bg-slide.active .circle.bg img,
.bg-slide.after-active .circle.bg img{
    transition-delay: .9s;
}
.bg-slide.active .circle.large img,
.bg-slide.after-active .circle.large img{
    transition-delay: .6s;
}
.bg-slide.active .circle.small img,
.bg-slide.after-active .circle.small img{
    transition-delay: .3s;
}

.circle-darktransp{
    background: rgba(0,0,0,.1);
    z-index: 11;
}

.bg-slide .content-text{
    position: absolute;
    z-index: 100;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background-color: rgba(0, 0, 0, 0.959); */
}

.bg-slide.active .content-text{
    z-index: 101;
    
}
.content-text .place ,
.content-text .country{
    overflow: hidden !important;
    
}
.content-text .place h1,
.content-text .country h2{
    color: #fff;
    text-transform: uppercase;
    line-height: 1;
    opacity: 0;
    transition: transform 0.5s linear;
    transition-delay: .5s;
}

.content-text .place h1{
    font-size: 60px;
    letter-spacing: 80px;
    margin-right: -80px;
    transform: translateY(100%);
    
}
.content-text .country{
    margin-top: 60px;
}
  
.content-text .country h2{
    font-size: 50px;
    letter-spacing: 30px;
    margin-right: -30px;
    transform: translateY(-100%);
}
.bg-slide.active .content-text .place h1,
.bg-slide.active .content-text .country h2{
    opacity: 1;
    transform: translateY(0%) ;
}
.bg-slide.after-active .content-text .place h1 {

 transform: translateY(-100%) !important;
}
.bg-slide.after-active .content-text .country h2 {

    transform: translateY(100%) !important;
    
   }

.line{
    position: absolute;
    top: 50.5%;
    left: 50%;
    width: 500px;
    height: 2px;
    background: #fff;
    transform: translateX(-50%);
    z-index: 1000;
}
.rotate-btn{
    position: absolute;
    bottom: 60px;
    right: 60px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(219, 217, 55);
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
    transform: rotate .8s linear;

}
.rotate-btn.active{
    transform: rotate(360deg);
    pointer-events: none;
    transition-delay: .2s;
    transition: transform 1s ease;
}
.rotate-btn i{
    font-size: 40px;
    color: #fff;
}

/* .rotate-btn.rotate {
    transition: transform 1s ease;
    transform: rotate(360deg);
  }
   */
